.wordcloud {
  font: 10px "Helvetica", "Arial", sans-serif;
  line-height: normal;
  overflow: hidden;
  position: relative;
}

.wordcloud-word {
  margin: 0;
  padding: 0;
}

.wordcloud-word.w1 {
  color: #aab5f0;
  font-size: 100%;
}
.wordcloud-word.w2 {
  color: #99ccee;
  font-size: 150%;
}
.wordcloud-word.w3 {
  color: #a0ddff;
  font-size: 200%;
}
.wordcloud-word.w4 {
  color: #90c5f0;
  font-size: 250%;
}
.wordcloud-word.w5 {
  color: #90a0dd;
  font-size: 300%;
}
.wordcloud-word.w6 {
  color: #90c5f0;
  font-size: 350%;
}
.wordcloud-word.w7 {
  color: #3399dd;
  font-size: 400%;
}
.wordcloud-word.w8 {
  color: #00ccff;
  font-size: 450%;
}
.wordcloud-word.w9 {
  color: #00ccff;
  font-size: 500%;
}
.wordcloud-word.w10 {
  color: #00ccff;
  font-size: 550%;
}

.wordcloud-word a {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}
.wordcloud-word a:hover {
  color: #00ccff;
}
